.underline-potdetails-title{
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  padding: 0 0.1em ;
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(#F1EECD 0%, #F1EECD 100%);
}

.card-pot-details-shadow{

  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}



