.underline-404-title{
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(#FFD9E0 0%, #FFD9E0 100%);
}
