
.underline-addpot-title{
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  padding: 0 0.1em ;
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(#C1E3FE 0%, #C1E3FE 100%);

}
