// colors
$main-color: #64697A;
$secondary-color: #C9E7C7;
$third-color: #4B50BF;
$fourth-color: #ACB0F2;
$fifth-color: #EBEDF2;

$white: #ffffff;
$black: #000000;

// buttons
$button-main: $main-color;

// sizes
$modal500: 500px;



