@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}


.hover-anim{
  transition: transform 250ms;
  
  &:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transform: translateY(-5px);
   }
}
