.underline-dashboard-activity-title{
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  background-image: linear-gradient(#F1EECD 0%, #F1EECD 100%);
}
