@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 0.22em;
  font-size: 3em;
  line-height: 1.3em;
}

.underlined-title {
  
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;

  &:first-child{
    background-image: linear-gradient(#C1E3FE 0%, #C1E3FE 100%);
  }

  &:last-child{
    background-image: linear-gradient(#FFD9E0 0%, #FFD9E0 100%)
  }
}




